* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: #c9b0cf;
    /* color-scheme: dark; */
}

body {
    width: 100vw;
}

h1 {
    text-align: center;
    font-size: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
}

nav {
    /* width: 100%; */
    text-align: center;
}

.menu-bar {
    background: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    list-style-type: none;
    /* margin: 0 auto; */
    padding: 4px 5px;
    text-align: center;  
    /* text-decoration: none;  */ 
    display: inline-block;
}

.menu-bar li {
    list-style-type: none;
    float: left;
    display: inline-block;
}

.menu-bar li a {
    display: inline-block;
    padding: 16px;
}

.menu-button-contact {
    background: #f1c493;
}

.menu-button-index {
    background: #c09ad8;
}

.menu-button-product {
    background: #f993a8;
}

a:hover {
    background: #99508d;
}

.icon {
    border: solid 3px #431c3d;
    /* min-height: 300px;
    max-height: 350px;
    min-width:250px;
    max-width:400px; */
    height: 300px;
    margin: 50px;
    padding: 5px;
    width: 300px;
}

img {
    height: 285px;
    width: 285px;
}

.product {
    border: solid 3px #431c3d;
    height: 350px;
    margin: 100px;
    width: 350px;
}