html {
    background: #70587C;
    /* color-scheme: dark; */
}
body {
    width: 100vw;
}
nav {
    width: 100%;
    text-align: center;
}
.menu-bar {
    background: #502F4C;
    list-style-type: none;
    /* margin: 0 auto; */
    padding: 5px 10px;
    text-align: center;  
    /* text-decoration: none;  */
    font-size: 19px; 
    display: inline-block;
}
.menu-bar li {
    list-style-type: none;
    float: left;
    display: inline-block;
}
.menu-bar li a {
    display: inline-block;
    padding: 16px;
}
.menu-button-contact {
    background: #c082ec;
}
.menu-button-index {
    background: #e3baf6;
}
.menu-button-product {
    background: #e2d8f2;
}

a:hover {
        background: #C8B8DB;
}
